{% extends "base.html" %}

{% block title %}{{ 'Login' }}{% endblock %}

{% block header %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto w-auto h-24" src="../static/images/ticket-office.svg" alt="turnstile">
        <h2 class="mt-6 text-left text-5xl font-medium text-gray-600"  id="signin-form-title">
          Register
        </h2>
      </div>
      <form class="mt-8 space-y-6" action="" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="py-2">
            <label for="username" class="sr-only">Username</label>
            <input  id="username"
                    name="username"
                    type="username"
                    value="{{ request.form.username }}"
                    required
                    class="appearance-none relative block rounded-md w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-sm"
                    placeholder="Username"
            />
          </div>
          <div class="py-2">
            <label for="email-address" class="sr-only">Email Address</label>
            <input  id="email-address"
                    name="email"
                    type="email"
                    value="{{ request.form.email }}"
                    autocomplete="email"
                    required
                    class="appearance-none relative block rounded-md w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-sm"
                    placeholder="Email Address"
            />
          </div>
          <div class="py-2">
            <label for="password" class="sr-only">Password</label>
            <input  id="password"
                    name="password"
                    type="password"
                    value="{{ request.form.password }}"
                    autocomplete="current-password"
                    required
                    class="appearance-none relative block w-full rounded-md px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-sm"
                    placeholder="Password"
            >
          </div>
          <div class="py-2">
            <label for="password-confirm" class="sr-only">Confirm Password</label>
            <input  id="password-confirm"
                    name="password-confirm"
                    type="password"
                    value="{{ request.form.confirm_password }}"
                    required
                    class="appearance-none relative block w-full rounded-md px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-sm"
                    placeholder="Confirm Password"
            >
          </div>
        </div>

        <div>
          <button type="submit" class="group relative w-full rounded-md flex justify-center py-2 px-4 border border-transparent text-sm font-medium text-white bg-yellow-500 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400">
            Register
          </button>
        </div>

        <div class="text-center">
          Already have an account?
          <a href="{{ url_for('login')}}" class="font-medium text-red-500 hover:text-red-600">
            Login
          </a>
        </div>

      <!-- Handle error messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="text-center text-pink-600 pt-2">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}