{% extends 'dash_base.html' %}

{% block title %}Manage Users{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block dash_content %}
    {% if current_user.is_admin %}
        <div>
            <h3 class="text-5xl font-bold text-gray-700 pt-4 pb-6 border-b-2 border-gray-400">
                Manage Rides
            </h3>

            <div class="my-5">
                <table class="row-border w-full shadow-md mt-6 mr-3 pt-3" id="manage-rides">
                    <thead class="bg-gray-100 text-gray-500 text-left">
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Wait Time (Min.)</th>
                            <th class="text-center">Last Updated</th>
                            <th class="text-center">Last Maintenenced</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for ride in rides %}
                            <tr>
                                <td class="ml-3 font-medium"> {{ ride.name }} </td>
                                <td class="text-center uppercase"> {{ ride.status }} </td>
                                <td class="text-center"> {{ ride.waittime }} MIN </td>
                                <td class="text-center"> {{ ride.last_waittime_update.strftime('%m/%d/%Y %H:%M:%S') }} </td>
                                <td class="text-center"> {{ ride.last_maintenance_date.strftime('%B %d, %Y') }}</td>
                                <td class="font-medium text-sm text-center">
                                    <a  class="bg-blue-400 rounded-xl text-gray-800 mx-3 my-4 px-3 py-1 hover:text-white cursor-pointer"
                                        href="{{ url_for('main.dashboard') }}"
                                    ><i class="fas fa-pen"></i> Edit</a>
                                    <a  class="bg-red-400 rounded-xl text-gray-800 px-3 py-1 hover:text-white cursor-pointer"
                                        href="{{ url_for('main.dashboard') }}"
                                    ><i class="fas fa-ban"></i> Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock dash_content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(
            function() {
                $('#manage-rides').DataTable({
                    columns: [
                        null,
                        { searchable: false },
                        { searchable: false },
                        { searchable: false },
                        { searchable: false },
                        { orderable: false, searchable: false },
                    ],
                    "pageLength": 10,
                    "lengthMenu": [ 5, 10, 15 ],
                    //"lengthChange": false,
                });
        })
    </script>
{% endblock %}