{% extends 'dash_base.html' %}

{% block title %}Manage Users{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block dash_content %}
    {% if current_user.is_admin %}
        <div>
            <div>
                <h3 class="text-5xl font-bold text-gray-700 pt-4 pb-6 border-b-2 border-gray-400">
                    Manage Users
                </h3>

                <a  href="{{ url_for('admin.create_user') }}"
                    class="absolute top-1 right-1 bg-green-400 py-2 px-3 rounded-lg hover:bg-green-500 mt-6 mr-12">
                    <span class="text-lg font-semibold text-gray-800 pt-4 pb-6 ">
                        <i class="fas fa-user-plus"></i> Create User
                    </span>
                </a>
            </div>

            <div class="my-5">
                <table class="cell-border w-full shadow-md mt-6 mr-3 pt-3" id="manage-users">
                    <thead class="bg-gray-100 text-gray-500 text-left">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th class="text-center">Role</th>
                            <th class="text-center">Last Login</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="ml-8 font-medium">
                                    <a  href="{{ url_for('admin.update_user', user_id=user.id) }}"
                                        class="cursor-pointer hover:underline hover:text-gray-700"
                                    >
                                        {{ user.username }}
                                    </a>
                                </td>
                                <td class="italic"> {{ user.email }} </td>
                                <td class="text-center">
                                    {% if user.is_admin %}
                                        <span class="font-medium text-red-500">Admin</span>
                                    {% else %}
                                    <span class="font-medium text-blue-800">User</span>
                                    {% endif %} </td>
                                <td class="text-center">
                                    {% if user.last_login %}{{ user.last_login.strftime('%B %d, %Y @ %H:%M') }}
                                    {% else %}None
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock dash_content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(
            function() {
                $('#manage-users').DataTable({
                    columns: [
                        null,
                        null,
                        { searchable: false },
                        null,
                    ],
                    "pageLength": 15,
                    "lengthMenu": [ 5, 10, 15 ],
                    //"lengthChange": false,
                });
        })
    </script>
{% endblock %}