{% extends 'dash_base.html' %}

{% block title %}Ride Dashboard{% endblock title %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{% endblock styles %}


{% block dash_content %}

<div class="text-left pb-4">
  <h2 class="text-5xl font-bold text-gray-700 mb-6 pb-6">Ride Dashboard</h2>
    <div class="container antialiased mx-auto px-4 sm:px-8">
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                              {% for col in ['Name', 'Status', 'Wait Time', 'Last Maintenenced'] %}
                                {% if col in ['Last Maintenenced', 'Wait Time', 'Status'] %}
                                  <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-600 uppercase tracking-wider">
                                    {{ col }}
                                  </th>
                                {% else %}
                                  <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider">
                                    {{ col }}
                                  </th>
                                {% endif %}
                              {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                          {% for ride in rides %}
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white">
                                  <div class="flex items-center">
                                      <div class="flex-shrink-0 w-10 h-10">
                                          <img 
                                              class="w-full h-full"
                                              src="{{ ride.image }}"
                                              alt="{{ ride.name }}"
                                          />
                                      </div>
                                      <div class="ml-3">
                                          <a  href=f"/admin/rides/edit/{ride.id}"
                                              class="text-gray-900 text-lg font-semibold whitespace-no-wrap underline hover:text-gray-700" >
                                            {{ ride.name }}
                                          </a>
                                      </div>
                                  </div>
                              </td>

                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-base text-center">
                                {% if ride.status == 'OPEN' %}
                                  <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                    <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                    <span class="relative">{{ ride.status }}</span>
                                  </span>
                                {% endif %}
                                {% if ride.status == 'TESTING' %}
                                  <span class="relative inline-block px-3 py-1 font-semibold text-yellow-900 leading-tight">
                                    <span aria-hidden class="absolute inset-0 bg-yellow-200 opacity-50 rounded-full"></span>
                                    <span class="relative">{{ ride.status }}</span>
                                  </span>
                                {% endif %}
                                {% if ride.status == 'CLOSED' %}
                                  <span class="relative inline-block px-3 py-1 font-semibold text-red-800 leading-tight">
                                    <span aria-hidden class="absolute inset-0 bg-red-300 opacity-50 rounded-full"></span>
                                    <span class="relative">{{ ride.status }}</span>
                                  </span>
                                {% endif %}
                                {% if ride.status == 'COMING SOON' %}
                                  <span class="relative inline-block px-3 py-1 font-semibold text-purple-700 leading-tight">
                                    <span aria-hidden class="absolute inset-0 bg-purple-300 opacity-50 rounded-full"></span>
                                    <span class="relative">{{ ride.status }}</span>
                                  </span>
                                {% endif %}
                              </td>

                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-base text-center">
                                <p class="text-gray-800 whitespace-no-wrap font-semibold">
                                  {% if ride.status in ['CLOSED', 'COMING SOON']  %}
                                    -
                                  {% else %}
                                    {{ ride.waittime }} MIN
                                  {% endif %}
                                </p>
                              </td>

                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-base text-center">
                                  <p class="text-gray-800 whitespace-no-wrap font-light tracking-tight">
                                    {{ ride.last_maintenance_date.strftime("%B %d, %Y") }}
                                  </p>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
    </div>
</div>

{% endblock dash_content %}
