{% extends 'dash_base.html' %}

{% block title %}{{ 'Edit Ride' }}{% endblock title %}

{% block dash_content %}

<div class="text-left pb-4 bg-no-repeat bg-left-bottom bg-auto" style="background-image: url('{{ ride.image }}');">

    <h2 class="text-5xl font-bold text-gray-600">
      <ins>{{ ride.name }}</ins>
    </h2>

    <div class="container rounded-xl shadow-md bg-gray-200 mt-12 mb-3 max-w-xl mx-auto px-7 py-3">

      <form class="mt-4 pt-4" method="POST" id="rideform">
        
        {{ form.csrf_token }}

        <div class='flex flex-wrap -mx-3 mb-6'>

          <div class='w-3/4 md:w-full px-3 mb-6'>
            {{ form.name.label(class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2") }}
            {{ form.name(class="appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500") }}
          </div>

          <div class='w-3/4 md:w-1/2 px-3 mb-6'>
            {{ form.status.label(class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2") }}

            <div class="flex-shrink w-full inline-block relative">
              {{ form.status(class="block appearance-none w-full font-semibold bg-white border border-gray-400 shadow-inner px-4 py-2 pr-8 rounded") }}

              <div class="pointer-events-none absolute top-0 mt-3 right-0 flex items-center px-2 text-gray-600">
                <svg  class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>

          <div class='w-full md:w-full px-3 mb-6'>
            {{ form.image_url.label(class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2") }}
            {{ form.image_url(class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500") }}
          </div>

          <div class='w-full md:w-full px-3 mb-6'>
            {{ form.notes.label(class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2") }}
            {{ form.notes(class="bg-gray-100 rounded-md border leading-normal resize-none w-full h-20 py-2 px-3 shadow-inner border border-gray-400 placeholder-gray-700 focus:outline-none focus:bg-white")}}
          </div> 
        </div>

        <div class="block text-center">
          {{ form.submit(class="bg-purple-600 hover:bg-indigo-700 text-gray-200 font-xl font-semibold px-5 py-2 mr-3 mb-4 rounded-md") }}
        </div>

      </div>

        {% if form.errors %}
            <div class="text-red-600 text-center text-sm">
            {% for field in form.errors %}
              {% for error in form.errors[field] %}
              <div class="text-center font-medium text-lg">
                <p> {{ error }} </p>
              </div>
              {% endfor %}
            {% endfor %}
            </div>
        {% endif %}
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="text-center font-medium">
                  <p class="{% if category == 'success' %} text-green-600 {% elif category == 'info' %} text-blue-600 {% else %} text-red-600 {% endif %}">
                    {{ message }}
                  </p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

      </div>
    </form>

  </div>
</div>
{% endblock dash_content %}